<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>head</title>
    <!--<link rel="stylesheet" href="../static/layui/css/layui.css"/>-->
</head>
<body>
<div th:fragment="head">
    <ul class="layui-nav layui-bg-green" style="text-align: center;">
        <li class="layui-nav-item"><a href="/" th:href="@{/(userName=${userName})}">首页</a></li>
        <li class="layui-nav-item"><a href="/">TOP10排行</a></li>
        <li class="layui-nav-item"><a href="" th:href="@{/(userName=${userName})}">经典笑话</a></li>
        <li class="layui-nav-item"><a href="">搞笑图片</a></li>
        <li class="layui-nav-item"><a id="addcross" href="/toaddcross" th:href="@{/toaddcross(userName=${userName})}">讲个笑话</a></li>

        <li class="layui-nav-item">
            <a href="javascript:;">关于我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:void(0)" onclick="showQQImg()">QQ</a></dd>
                <dd><a href="javascript:void(0)" onclick="showWeChatImg()">WeChat</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item lg">
            <a href="" th:href="@{/tologin}">登录</span></a>
        </li>
        <li class="layui-nav-item lg">
            <a href="/toregister">注册</span></a>
        </li>
        <li class="layui-nav-item">
            <a class="myself" href="/" th:text="${userName}"></a>
        </li>
        <a  style="display: none" th:text="${userName}" id="temp"></a>
    </ul>
</div>

</div>
</body>

<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.js }"></script>
<script type="text/javascript" th:src="@{/js/head.js }"></script>
<!--判断是否登录，如果登录，将"登录"、"注册" 替换为 "欢迎：userName"-->
<script type="text/javascript" th:inline="javascript">

</script>

</html>
