<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>head</title>
    <!--<link rel="stylesheet" href="../static/layui/css/layui.css"/>-->
</head>
<body>
<div th:fragment="head">
    <ul class="layui-nav layui-bg-green" style="text-align: center;">
        <li class="layui-nav-item"><a id="main">首页</a></li>
        <li class="layui-nav-item"><a id="top10">TOP10排行</a></li>
        <li class="layui-nav-item"><a id="cross">经典笑话</a></li>
        <li class="layui-nav-item"><a id="img">搞笑图片</a></li>
        <li class="layui-nav-item"><a id="addcross">讲个笑话</a></li>

        <li class="layui-nav-item">
            <a href="javascript:;">关于我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:void(0)" onclick="showQQImg()">QQ</a></dd>
                <dd><a href="javascript:void(0)" onclick="showWeChatImg()">WeChat</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item lg">
            <a id="tologin">登录</span></a>
        </li>
        <li class="layui-nav-item lg">
            <a id="toregist">注册</span></a>
        </li>
        <li class="layui-nav-item">
            <a id="myself" href="/"></a>
        </li>
        <a  style="display: none"id="temp"></a>
    </ul>
</div>

</div>
</body>

<script src="jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/head.js"></script>
<!--判断是否登录，如果登录，将"登录"、"注册" 替换为 "欢迎：userName"-->
<script type="text/javascript" th:inline="javascript">

</script>

</html>
