<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>cross-talk</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
</head>
<script type="text/javascript" th:src="@{/js/head.js}"></script>
<script type="text/javascript" src="../layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" src="../jquery/jquery-3.3.1.min.js" th:src="@{/jquery/jquery-3.3.1.min.js}" charset="utf-8"></script>
<body>
<div class="layui-layout-admin">
    <!--引入导航代码-->
    <div th:include="head"></div>
</div>
<div class="layui-container">

    <div th:each="cross : ${crossList}">
        <div class="layui-card">
            <div class="layui-card-body" th:text="${cross.content}">

            </div>
            <div>
                <i class="layui-icon layui-icon-star"><a th:href="@{/cross/update(userName=${userName})}" th:text="${cross.greatNumber}"></a></i>
            </div>
        </div>
    </div>
</div>
</body>
<!--//注意：导航 依赖 element 模块，否则无法进行功能性操作-->
<script type="text/javascript" th:inline="javascript">
    layui.use(['carousel', 'form', 'layer', 'element'], function(){
        var carousel = layui.carousel,
            form = layui.form,
            layer = layui.layer,
            element = layui.element;
    });


</script>
</html>