<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>register</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all" />
</head>
<script type="text/javascript" th:src="@{/js/head.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" src="../jquery/jquery-3.3.1.min.js" th:src="@{/jquery/jquery-3.3.1.min.js}" charset="utf-8"></script>

<body>
<div>
    <div th:include="head"></div>
</div>
<div class="layui-container" >
    <div class="layui-row">
        <div class="layui-col-md4" th:bgcolor="red"></div>
        <div class="layui-col-md4 layui-col-md-offset4">
            <form class="layui-form layui-form-pane" action="/user/register" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userName" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password2" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <button class="layui-btn layui-btn-radius"  lay-filter="formDemo">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            alert(data);
            return false;
        });
    });
</script>
</body>
<script type="text/javascript" th:inline="javascript">
    layui.use(['carousel', 'form', 'layer', 'element'], function(){
        var carousel = layui.carousel,
            form = layui.form,
            layer = layui.layer,
            element = layui.element;
    });
</script>
</html>